body
html
  overflow-x: hidden

body
  color: #33333d
  font-size: 14px
  letter-spacing: 1px
  line-height: 1.2em

a
  text-decoration: none
  color: #33333d
  font-weight: bold
  border-bottom: 1px #CCC dashed

.container
  position: relative
  width: 749px
  margin: 0 auto
